<?xml version="1.0" encoding="utf-8" ?>

<config>
    <menu>
        <add id="Webjump_LogisticProvider::logistic_provider" title="Providers" translate="title" module="Webjump_LogisticProvider" sortOrder="10" parent="Webjump_LogisticsConfig::logistics" action="provider/provider" resource="Webjump_LogisticProvider::logistic_provider"/>
    </menu>
</config>

